# dependabot config

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        dependency-type: "development"
      prod-dependencies:
        dependency-type: "production"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"

